.color-0 {
  stroke: #2192FA;  
  color: #2192FA;
}

.color-1 {
  stroke: #C61BE2;
  color: #C61BE2;
}

.color-2 {
  stroke: #FA6221;
  color: #FA6221;
}

.color-3 {
  stroke: #FEB928;
  color: #FEB928;
}

.color-4 {
  stroke: #67AED5;
  color: #67AED5;
}


