.container {
  @apply flex flex-row justify-between h-full relative;
}
.buttonContainer {
  @apply flex justify-end;
}
.imageContainer{
  @apply absolute top-0 right-[2rem] w-1/2 z-[-1];
  height: 80vH;
  background: url('~/assets/Illustration_Stackables.svg') no-repeat bottom right;
  background-size: 90%;
}
.useTemplateIdContainer {
  @apply relative min-h-[8rem];
}
.loadingSpinner {
  @apply absolute left-1/2 top-1/2;
  transform: translate(-50%, -50%);
}
.borderedBox {
  @apply grow-0;
}