.container {
  @apply grow relative;
}
.content {
  @apply pt-10 px-6 flex flex-col gap-y-10; 
}
.buttonContainer {
  @apply flex gap-x-2 justify-end items-center;
}
.applicationName {
  @apply max-w-[40rem]
}
.dateContainer {
  @apply flex flex-row items-center gap-x-2 lg:gap-x-4 w-full;
}