.container {
  @apply max-h-[calc(100vh-18rem)];
}
.content {
  @apply flex flex-col items-start gap-y-3 xl:gap-y-10 w-full;
}
.loadingSpinner {
  @apply absolute left-1/2 top-1/2;
  transform: translate(-50%, -50%);
}
.select {
  @apply basis-1/4
}
.selectUl {
  @apply w-full md:min-w-[150%]
}
.filtersContainer {
  @apply grid grid-cols-1 md:flex md:flex-row gap-2 w-full items-center
}
.table {
  @apply w-full relative max-h-[calc(100vh-23rem)] w-full;
  border-spacing: 0 24px;
  vertical-align: middle;
  border-collapse: collapse;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translate(0,0);
}


.tableRows {
  @apply w-full;
}

.tableHeaders {
  @apply grid grid-cols-6 gap-x-4 w-full top-0 bg-rich-black z-10 border-b border-white/30 border-solid;
  position: sticky;;
}

.tableHeader {
  @apply pt-0 pb-12 text-left;;
}

.noApplicationFound {
  @apply h-full flex flex-col items-center justify-center;
  min-height: inherit;
}
.thWithIcon {
  @apply flex flex-row items-center gap-x-2
}

@media screen and (max-width: 1024px) {
  table {
    border-bottom: 0;
  }

  
  table thead {
    width: 100%;
    border: none;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }
  
  table div tr {
    display: block;
  }
  
  table td {
    display: block;
    text-align: right;
  }
  
  table td::before {
    @apply text-white font-bold;
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}