.container {
  @apply bg-rich-black; 
}
.content {
  @apply flex flex-row gap-4 w-full justify-between items-center;
}
.dataContent {
  @apply flex flex-row gap-y-1 w-full gap-x-4 lg:gap-x-10 items-center;
}
.verticalSeparator {
  @apply hidden md:block
}
.dataContentElement::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}