.container {
  @apply flex flex-col justify-center h-full w-full border-0 relative;
  min-height: calc(var(--compose-application-height) * 0.7);
  max-height: calc(var(--compose-application-height) * 0.7);
}
.containerEnabled {
  @apply cursor-pointer; 
}
.svg {
  @apply absolute top-0 left-0 w-full h-full z-[-1]
}
.svg > rect {
  @apply stroke-white;
  height: calc(100% - 1px);
}