.container {
  @apply flex flex-col justify-center w-full border-0 relative top-[-0.2rem];
  min-height: calc(var(--compose-application-height) * 0.2);
  max-height: calc(var(--compose-application-height) * 0.2);
}
.svg {
  @apply absolute top-0 left-0 w-full h-full z-[-1];
}
.iconContainer {
  @apply relative
}
.buttonContainer {
  @apply mt-4
}
.buttonWrapperSvg {
  @apply absolute top-0 left-0 w-full h-full z-[-1];
}

.buttonWrapperSvg > rect {
  @apply absolute top-0 left-0;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}

.cursorDefault {
  @apply cursor-default
}