.container {
  @apply flex flex-col justify-center w-full border-0 relative;
}
.content {
  @apply px-4 relative
}
.leftContent {
  @apply overflow-hidden w-1/2
}
.ellipsis {
  @apply truncate;
}
.svg {
  @apply absolute top-0 left-0 w-full h-full z-[-1]
}
.svg > path {
  @apply stroke-tertiary-blue fill-tertiary-blue;
}
.deleteContainer {
  @apply absolute right-[1rem] translate-y-[-50%]
}
.rectBordered {
  @apply stroke-tertiary-blue;
  width: calc(100% - 0.5px);
  height: calc(100% - 3px);
}
.rectFilled {
  @apply fill-tertiary-blue/15;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.containerOnlyPlugin {
  min-height: calc(var(--compose-application-height) * 0.17);
  max-height: calc(var(--compose-application-height) * 0.17);
}
.containerPlugins2 {
  min-height: calc(var(--compose-application-height) * 0.11);
  max-height: calc(var(--compose-application-height) * 0.11);
}
.containerPlugins3 {
  min-height: calc(var(--compose-application-height) * 0.09);
  max-height: calc(var(--compose-application-height) * 0.09);
}