.container {
  @apply max-w-[17rem] min-w-[17rem] h-full overflow-y-auto;
}
.cursorPointer {
  @apply cursor-pointer
}
.pluginContainer { 
  @apply pr-6 pl-8; 
  width: calc(100% - 3rem)
}
.ellipsisTemplate {
  @apply truncate;
  max-width: 10rem;
}
.ellipsisPlugin {
  @apply truncate;
  width: calc(100% - 3rem)
}
.overflowHidden {
  @apply overflow-hidden ;
}