.container {
  @apply flex flex-col justify-between h-full grow
}
.buttonContainer {
  @apply flex justify-between;
}
.containerPuzzle {
  min-width: var(--compose-application-width);
  max-width: var(--compose-application-width);
  width: var(--compose-application-width);
}

.wrapperContainerPuzzle {
  max-height: var(--compose-application-height);
  min-height: var(--compose-application-height);
  border: 1px solid red;
}