.gridClassName {
  @apply flex flex-col gap-2 w-full h-full grow;
  min-height: calc(var(--compose-application-height) * 0.7);
  max-height: calc(var(--compose-application-height) * 0.7); 
}
.container {
  @apply flex flex-row gap-x-2 w-full overflow-x-auto;
  min-width: calc(var(--compose-application-width) * 3);
  max-width: calc(var(--compose-application-width) * 3);
}
.halfWidth {
  max-width: calc(50% - 0.5rem);
  min-width: calc(50% - 0.5rem);
}