.container {
  @apply border border-solid border-white/30 rounded-md py-0.5 px-2 xl:px-4 xl:py-2 2xl:py-4 w-auto h-fit;
}
.box {
  @apply px-0.5 py-0 xl:px-4 xl:py-2 w-fit
}
.boxGrow {
  @apply px-0.5 py-0 xl:px-4 xl:py-2 w-fit grow
}
.buttonsContainer {
  @apply flex flex-col gap-y-1 xl:flex-row gap-x-2 xl:justify-end;
}