.serviceContainer {
  min-width: var(--compose-application-width);
  max-width: var(--compose-application-width);
  width: var(--compose-application-width);
}
.foldersContainer {
  @apply relative;
  min-width: calc(var(--compose-application-width) * 0.60);
  max-width: calc(var(--compose-application-width) * 0.60);
  
}
.horizontalDivided {
  @apply absolute top-[20%] left-[-1rem] w-[1rem] border-b-0 border-l-0 border-r-0 border-t border-white/30
}
.folderLineIconContainer {
  @apply relative h-auto w-[32px]
}
.flexContainerServices {
  @apply flex flex-row items-stretch gap-x-0;
}
.ellipsis {
  @apply truncate
}