.containerPuzzle {
  @apply flex flex-col justify-between;
  min-width: var(--compose-application-width);
  max-width: var(--compose-application-width);
  min-height: calc(var(--compose-application-height) * 0.7);
  max-height: calc(var(--compose-application-height) * 0.7);
}