.customSmallFlexRow {
  @apply flex flex-row items-center gap-2 justify-end md:justify-start;
}
.buttonsContainer {
  @apply flex flex-row items-center gap-2 justify-end md:justify-start;
}
.customSmallFlexRowWithButton {
  @apply flex flex-col md:flex-row items-end gap-2 justify-end md:justify-start;
}
.ellipsis {
  @apply truncate w-full;
}
.tableRow {
  @apply grid grid-cols-4 gap-x-4 w-full items-center;
}
.tableSmall {
  display: table-cell;
  vertical-align: middle;
}
.tableRow > .tableSmall > .tableCell:nth-child(odd) {
  display: none;
  @apply py-4;
}

.tableRow > .tableSmall > .tableCell {
  @apply py-4;
}

.tableRow:last-child > .tableSmall:last-child > .tableCell:last-child {
  border-bottom-right-radius: 5px;
}

.tableRow:last-child > .tableSmall:first-child > .tableCell:last-child {
  border-bottom-left-radius: 5px;
}
.linkToApplication {
  @apply hover:cursor-pointer
}

.clockWiseRotation {
  animation: rotationClockwise 2s infinite linear;
}
@keyframes rotationClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.containerRunning {
  @apply border border-solid border-white/30 rounded
}