.container {
  @apply w-full h-auto ;
}
.loadingSpinner {
  @apply absolute left-1/2 top-1/2;
  transform: translate(-50%, -50%);
}
.select {
  @apply basis-1/4
}
.selectUl {
  @apply w-full md:min-w-[150%]
}
.noApplicationFound {
  @apply h-full flex flex-col items-center justify-center;
  min-height: inherit;
}
.thWithIcon {
  @apply flex flex-row items-center gap-x-2
}
.table {
  @apply w-full relative max-h-[calc(100vh-23rem)] w-full;
  border-spacing: 0 16px;
  vertical-align: middle;
  border-collapse: collapse;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translate(0,0);
}
.tableRows {
  @apply w-full;
}
.tableHeaders {
  @apply grid grid-cols-12 gap-x-4 w-full top-0 bg-rich-black z-10 border-0;
  position: sticky;
}
.tableHeader {
  @apply col-span-2;
  @apply pt-0 pb-12 text-left;
}

.colSpan6 {
  @apply !col-span-6;
}

div[class*="tableRow"] {
  @apply border-t border-white/30 border-solid;
}

:nth-child(1 of div[class*="tableRow"]) {
  @apply border-0 !important;
}