.container {
  @apply grow relative;
}
.content {
  @apply py-10 px-6 flex flex-col gap-y-10; 
}
.select {
  @apply basis-1/4
}
.selectUl {
  @apply w-full
}
.borderexBoxContainer {
  @apply py-4 px-0 w-full flex flex-col gap-y-4;
}
.lateralPadding {
  @apply px-4;
}
.top, .bottom {
  @apply shrink-0 grow-0;
}

.logsContainer {
  @apply grow h-full min-h-[calc(100vH-25rem)] max-h-[calc(100vH-25rem)] overflow-y-auto flex flex-col gap-y-1;
}
.logDividerBottom,
.logDividerTop {
  @apply h-[1px] w-full border-0 bg-rich-black;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: unset;
  margin-inline-end: unset;
}