.icon {
  @apply absolute top-[1rem] right-[1rem];
}
.log {
  @apply relative flex flex-row gap-x-2 items-center py-1 px-2 rounded;
}
.logRaw {
  word-break: break-word;
}
.log10 {
  @apply bg-tertiary-blue/15; ;
}
.text10 {
  @apply text-tertiary-blue;
}
.log20 {
  @apply bg-electric-purple/15; 
}
.text20 {
  @apply text-electric-purple; 
}
.log30 {
  @apply bg-main-green/15; 
}
.text30 {
  @apply text-main-green;
}
.log40 {
  @apply bg-warning-yellow/15;
}
.text40 {
  @apply text-warning-yellow;
}
.log50 {
  @apply bg-error-red/15;
}
.text50,
.text60 {
  @apply text-error-red;
}

.buttonRawJson {
  @apply py-0;
}
.logContainerClassNameInactive {
  @apply p-0;
}
.logContainerClassNameActive {
  @apply p-2 border border-solid rounded;
}
.logContainerClassNameActive10 {
  @apply border-tertiary-blue;
}
.logContainerClassNameActive20 {
  @apply border-electric-purple; 
}
.logContainerClassNameActive30 {
  @apply border-main-green; 
}
.logContainerClassNameActive40 {
  @apply border-warning-yellow;
}
.logContainerClassNameActive50 {
  @apply border-error-red;
}
.msg {
  @apply w-[290px] lg:w-[470px] inline-block truncate
}
