.container {
  @apply flex flex-row gap-x-2 items-center relative;
}
.content {
  @apply py-10 px-6 flex flex-col gap-y-10; 
}
.buttonLevel {
  @apply py-1 px-2 cursor-pointer capitalize relative basis-0 grow; 
}

.point {
  @apply absolute bottom-[-0.5rem] w-[6px] h-[6px] rounded-full left-[50%] z-10;
  transform: translateX(-50%);
}
.line {
  @apply absolute bottom-[-0.3rem] h-[1px] bg-white left-[50%] z-0;
}

.tracePoint {
  @apply bg-tertiary-blue;
}
.debugPoint {
  @apply bg-electric-purple;
}
.infoPoint {
  @apply bg-main-green;
}
.warnPoint {
  @apply bg-warning-yellow;
}
.errorPoint {
  @apply bg-error-red;
}
.inactivePoint {
  @apply bg-opacity-30
}
.selectedPoint {
  @apply border-2 border-solid border-white rounded-full mb-[-2px]
}

.progressContainer {
  @apply absolute bottom-[-0.375rem] left-0 z-0 w-full px-6 h-[2px];
  box-sizing: border-box;
}

.progress {
  @apply relative bg-white/15 z-0 w-full h-full;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 2px;
}

.bar {
	@apply relative bg-white h-full;
  float:left;
}

.percent {
  @apply absolute top-1/2 left-1/2 text-white;
  transform: translate(-50%,-50%);
}