.container {
  @apply flex flex-row justify-between relative grow;
}
.leftContent {
  @apply flex flex-col items-center justify-center pl-6 xl:pl-[142px];
}
.buttonContainer {
  @apply flex justify-start gap-x-2;
}
.imageContent{
  @apply max-h-[708px] w-full h-full;
  background: url('~/assets/Illustration_Welcome.svg') no-repeat center;
  background-size: contain;
}
.useTemplateIdContainer {
  @apply relative min-h-[8rem];
}
.loadingSpinner {
  @apply absolute left-1/2 top-1/2;
  transform: translate(-50%, -50%);
}
.borderedBox {
  @apply grow-0;
}
.paddingTop {
  @apply pt-20
}

.applicationName {
  @apply max-w-[90%]
}

.paddingBottom {
  @apply pb-2
}