.container {
  @apply h-[calc(100%-33px)] lg:h-auto justify-between;
}
.templatesContainer {
  @apply lg:min-h-[25.5rem] h-full w-full relative;
}
.templatesContent{
  @apply flex flex-row gap-x-2 overflow-x-auto w-full
}
.gridContainer {
  @apply max-w-[100%] min-w-[100%];
}
.gridContent {
  @apply grid grid-cols-2 md:grid-cols-3 gap-4 ;
}
.page {
  @apply p-4 bg-white/30 text-white rounded-md;
}
.containerView {
  @apply lg:min-h-[25.5rem] h-full w-full relative
}
.select {
  @apply basis-1/3  
}
.selectUl {
  @apply min-w-[150%]
}

.link {
  @apply text-tertiary-blue
}
.loadingSpinner {
  @apply absolute left-1/2 top-1/2;
  transform: translate(-50%, -50%);
}