name: Add new issue/PR to project

on:
  issues:
    types:
      - opened

jobs:
  add-to-project:
    name: Add issue or PR to project
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Generate token
        id: generate_token
        uses: vidavidorra/github-app-token@v1.0.1
        with:
          appId: ${{ secrets.INTERNAL_GH_APP_ID }}
          privateKey: ${{ secrets.INTERNAL_GH_APP_SECRET }}
      - name: Add to Project
        env:
          TOKEN: ${{ steps.generate_token.outputs.token }}
        uses: actions/add-to-project@0be3b6580ae2145e72e0ada85d693ab71a5f17d6
        with:
          project-url: https://github.com/orgs/platformatic/projects/5
          github-token: ${{ env.TOKEN }}

